$text-color: rgba(0, 0, 0, 0.8);
body {
  color: $text-color;
  font-family: "Helvetica Neue",Helvetica,arial,sans-serif;;
  font-weight: 300;
  line-height: 1.25;
  display: flex;
  justify-content: center;
}

a {
  color: $text-color;
  &, &:hover {
    text-decoration: none;
  }
}

.wrapper {
  max-width: 320px;
}

.contact {
  display: flex;

  &__profile-picture {
    border-radius: 50%;
    width: 30%;
    height: 30%;
  }

  &__details {
    width: 70%;
  }
}

